* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  :root {
    --text: 1.5rem;
    --head: calc(1rem + 5vw);
    --bg-color: #f63b3b;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(image/1.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    animation: slide 1s ease-in-out;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0rem 1.5rem;
    color: white;
    transform: translateY(-100%);
    animation: movedown 850ms ease-in 1s forwards;
  }
  
  @keyframes movedown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
  }
  
  .navbar ul li a:hover {
    border-bottom: 2px solid var(--bg-color);
  }
  
  .hero-text {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  @keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .hero-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    top: 0;
    opacity: 0.6;
  }
  
  .hero-text a {
    color: white;
    background: var(--bg-color);
    font-weight: 900;
    font-size: var(--text);
    padding: 0.8rem 1rem;
    margin: 0.8rem auto;
    display: block;
    text-decoration: none;
    transition: opacity 250ms linear;
  }
  
  .hero-text a:hover {
    opacity: 0.8;
  }
  
  .hero-text h2 {
    font-size: var(--head);
  }
  
  .hero-text p {
    font-size: 3rem;
  }
/*--------------menu--------------*/
#menu{
  padding: 80px 0;
  color: #ababab; 
  background-image: url(image/background.png);
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-col-1{
  flex-basis: 35%;
}
.menu-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.menu-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: disc;
  margin: 10px 0;
}

.tab-contents{
  display: none;
  background-image: url(image/background.png);
}
.tab-contents.active-tab{
  display: block;
}   
/*------------------more-------------------*/
#more{
  padding: 50px 0;
  background-image: url(image/background.png);
}
.more-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.more{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.more img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), orange);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  color: gainsboro;
  font-size: 30px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 50px;
  color: black;
}
.layer a{
  margin: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.more:hover img{
  transform: scale(1.1);
}
.more:hover .layer{
  height: 100%;
}
.btn.btn3{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  background-color: yellow;
  color: #262626;
  transition: background 0.5s;
}
.btn.btn3:hover{
  background: #ff004f
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #ff004f
}
.btn.btn2{
  display: inline-block;
  background: #ff004f;
}
#contact{
  padding: 50px;
  color: #ababab; 
  left: 0;
}
.contact form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px;
  color:#fff;font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 9px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: black;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 60%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: rgb(127, 127, 182);
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.hh {
  font-size: 33px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bolder;
  padding: 10px;
  padding-top: 1px;

}

footer {
  padding: 50px;
  text-align: center;
  background-image: url(image/background.png);
  color: #fff;
}